<div class="col-md-6 col-md-offet-3">
  <h1>Edit Pin</h1>
<%= image_tag(@pin.photo.to_s, alt: 'Image', height: "300") if @pin.photo? %>
<%= render 'form' %>

<%= link_to "Cancel", pin_path %>
<%= link_to "Delete Pin", pin_path, method: :delete, data: { confirm: "Are you sure you wish to delete this pin?"} %>

</div>
