<h1>All Pins</h1>
<% if user_signed_in? %>
<%= link_to "New Pin", new_pin_path %>
<% end %>
<% @pins.each do |pin| %>
<h2>
<%= link_to pin_path(pin) do %></h2>
  <%= pin.title %>
  <%= image_tag(pin.photo.to_s, alt: 'Image', height: "300") if pin.photo? %>
<% end %>
<% end %>
