<div id="pins" class="transition-enabled">
  <div class="container">
    <div class="row">
        <% @pins.each do |pin| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="box panel panel-default">
          <%= link_to pin_path(pin) do %>
            <%= image_tag(pin.photo.to_s, alt: 'Image') if pin.photo? %>
            <div class="panel-body">
            <h2><%= pin.title %></h2>
            </div>
          <% end %>
        </div>
      </div>
        <% end %>
    </div>
</div>
</div>

