<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h1>Edit Comment</h1>
      <%= image_tag(@pin.photo.to_s, alt: 'Image', width: '100%') if @pin.photo? %>
    </div>
    <div class="panel-body">
      <%= render 'form' %>
    </div>
    </div>
  </div>
</div>
</div>
